<div class="content">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">Rating</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index">Dashboard</a></li>
          <li class="breadcrumb-item active">Rating</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <!-- Rating -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Default Rating</h5>
        </div>
        <div class="card-body">
          <p>This is the most basic example of ratings.</p>
          <div class="rating rating-default"></div>
        </div>
      </div>
    </div>
    <!-- /Rating -->

    <!-- Rating -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Score</h5>
        </div>
        <div class="card-body">
          <p>Stars with a saved rating.</p>
          <div class="rating rating-score"></div>
        </div>
      </div>
    </div>
    <!-- /Rating -->

    <!-- Rating -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Max Number</h5>
        </div>
        <div class="card-body">
          <p>Change the max numbers of stars</p>
          <div class="rating rating-number"></div>
        </div>
      </div>
    </div>
    <!-- /Rating -->

    <!-- Rating -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Read Only</h5>
        </div>
        <div class="card-body">
          <p>Prevent users from voting</p>
          <div class="rating rating-read-only2"></div>
        </div>
      </div>
    </div>
    <!-- /Rating -->

    <!-- Rating -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Half Rating</h5>
        </div>
        <div class="card-body">
          <p>You can represent a float score as a half star icon.</p>
          <div class="rating rating-half-enable"></div>
        </div>
      </div>
    </div>
    <!-- /Rating -->

    <!-- Rating -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Custom Icon</h5>
        </div>
        <div class="card-body">
          <p>Use any icon you want.</p>
          <div class="rating rating-custom-icon"></div>
        </div>
      </div>
    </div>
    <!-- /Rating -->
  </div>
</div>
