<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Payment Settings</h4>
      <h6>Manage Payment Settings</h6>
    </div>
    <div class="page-btn">
      <a
        class="btn btn-added"
        data-bs-toggle="modal"
        data-bs-target="#addpayment"
        ><img src="assets/img/icons/plus.svg" alt="img" class="me-2" />Add
        Payment Settings</a
      >
    </div>
  </div>
  <!-- /product list -->
  <div class="card">
    <div class="card-body">
      <div class="table-top">
        <div class="search-set">
          <div class="search-input">
            <a class="btn btn-searchset"
              ><img src="assets/img/icons/search-white.svg" alt="img"
            /></a>
          </div>
        </div>
        <div class="wordset">
          <ul>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"
                ><img src="assets/img/icons/pdf.svg" alt="img"
              /></a>
            </li>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"
                ><img src="assets/img/icons/excel.svg" alt="img"
              /></a>
            </li>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"
                ><img src="assets/img/icons/printer.svg" alt="img"
              /></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table datanew">
          <thead>
            <tr>
              <th>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </th>
              <th>Payment Type Name</th>
              <th>Status</th>
              <th class="text-end">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td>Cash</td>
              <td>
                <div
                  class="status-toggle d-flex justify-content-between align-items-center"
                >
                  <input type="checkbox" id="user1" class="check" checked />
                  <label for="user1" class="checktoggle">checkbox</label>
                </div>
              </td>
              <td class="text-end">
                <a
                  class="me-3"
                  href="javascript:void(0);"
                  data-bs-toggle="modal"
                  data-bs-target="#editpayment"
                >
                  <img src="assets/img/icons/edit.svg" alt="img" />
                </a>
                <a class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="assets/img/icons/delete.svg" alt="img" />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td>Card</td>
              <td>
                <div
                  class="status-toggle d-flex justify-content-between align-items-center"
                >
                  <input type="checkbox" id="user2" class="check" />
                  <label for="user2" class="checktoggle">checkbox</label>
                </div>
              </td>
              <td class="text-end">
                <a
                  class="me-3"
                  href="javascript:void(0);"
                  data-bs-toggle="modal"
                  data-bs-target="#editpayment"
                >
                  <img src="assets/img/icons/edit.svg" alt="img" />
                </a>
                <a class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="assets/img/icons/delete.svg" alt="img" />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td>Credit</td>
              <td>
                <div
                  class="status-toggle d-flex justify-content-between align-items-center"
                >
                  <input type="checkbox" id="user3" class="check" checked />
                  <label for="user3" class="checktoggle">checkbox</label>
                </div>
              </td>
              <td class="text-end">
                <a
                  class="me-3"
                  href="javascript:void(0);"
                  data-bs-toggle="modal"
                  data-bs-target="#editpayment"
                >
                  <img src="assets/img/icons/edit.svg" alt="img" />
                </a>
                <a class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="assets/img/icons/delete.svg" alt="img" />
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /product list -->
</div>

<!-- add Modal -->
<div
  class="modal fade"
  id="addpayment"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add payment type</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Payment Name</label>
              <input type="text" />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group mb-0">
              <label>Status</label>
              <select class="select">
                <option>Choose Status</option>
                <option>Active</option>
                <option>InActive</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-submit">Confirm</button>
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<!-- edit Modal -->
<div
  class="modal fade"
  id="editpayment"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit payment type</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Payment Name</label>
              <input type="text" value="Cash" />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group mb-0">
              <label>Status</label>
              <select class="select">
                <option>Active</option>
                <option>InActive</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-submit">Update</button>
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
