<!-- Main Wrapper -->
<div class="main-wrapper">
  <%- include ('./header/header-three') %>


  <div class="container">
    <!-- Sidebar -->
    <%- include ('./sidebar/sidebar-three') %>
    <!-- /Sidebar -->
    <div class="page-wrapper page-wrapper-three">
      <%- include (page_path) %>
    </div>
  </div>
</div>
<!-- /Main Wrapper -->
