<!-- Main Wrapper -->
<div class="main-wrapper">
  <%- include ('./header/header-four') %>
  <!-- Sidebar -->
  <% if(page_path !='./sales/pos' ){ %> <%- include ('./sidebar/sidebar-four')
  %> <% } %>
  <!-- /Sidebar -->
  <div
    class="page-wrapper page-wrapper-four <%= page_path === './sales/pos' && 'ms-0' %>"
  >
    <%- include (page_path) %>
  </div>
</div>
<!-- /Main Wrapper -->
