<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Customer List</h4>
      <h6>Manage your Customers</h6>
    </div>
    <div class="page-btn">
      <button class="btn btn-added" id="openModalBtn">
        <img src="assets/img/icons/plus.svg" alt="img" />Add Customer
      </button>
    </div>
  </div>
  <!--modal-start-->
  <div class="modal fade" id="customerModal" tabindex="-1" aria-labelledby="customerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="customerModalLabel">Add/Update Customer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Formulario dentro del modal -->
          <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
              <div class="form-group">
                <label for="customerName">Customer Name</label>
                <input type="text" class="form-control" id="customerName" placeholder="Enter customer name">
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
              <div class="form-group">
                <label for="customerEmail">Email</label>
                <input type="text" class="form-control" id="customerEmail" placeholder="Enter email">
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
              <div class="form-group">
                <label for="customerPhone">Phone</label>
                <input type="text" class="form-control" id="customerPhone" placeholder="Enter phone number">
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
              <div class="form-group">
                <label for="customerCountry">Choose Country</label>
                <select class="form-select" id="customerCountry">
                  <option>Choose Country</option>
                  <option>India</option>
                  <option>USA</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
              <div class="form-group">
                <label for="customerCity">City</label>
                <select class="form-select" id="customerCity">
                  <option>Choose City</option>
                  <option>City 1</option>
                  <option>City 2</option>
                </select>
              </div>
            </div>
            <div class="col-lg-9 col-12">
              <div class="form-group">
                <label for="customerAddress">Address</label>
                <input type="text" class="form-control" id="customerAddress" placeholder="Enter address">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="saveCustomerBtn">Submit</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!--modal-end-->
  <!--script-start-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

      <script>
        // Función para abrir el modal al hacer clic en el botón
        $(document).ready(function() {
          $('#openModalBtn').click(function() {
            $('#customerModal').modal('show');
          });

          // Función para manejar el clic en el botón "Submit" dentro del modal
          $('#saveCustomerBtn').click(function() {
            // Obtener los valores de los campos del formulario dentro del modal
            var customerName = $('#customerName').val();
            var customerEmail = $('#customerEmail').val();
            var customerPhone = $('#customerPhone').val();
            var customerCountry = $('#customerCountry').val();
            var customerCity = $('#customerCity').val();
            var customerAddress = $('#customerAddress').val();

            // Aquí puedes agregar la lógica para enviar y procesar los datos del formulario
            console.log('Customer Name:', customerName);
            console.log('Email:', customerEmail);
            console.log('Phone:', customerPhone);
            console.log('Country:', customerCountry);
            console.log('City:', customerCity);
            console.log('Address:', customerAddress);

            // Cerrar el modal después de enviar el formulario
            $('#customerModal').modal('hide');
          });
        });
      </script>
  <!--script-end-->

  <!-- /product list -->
  <div class="card">
    <div class="card-body">
      <div class="table-top">
        <div class="search-set">
          <div class="search-path">
            <a class="btn btn-filter" id="filter_search">
              <img src="assets/img/icons/filter.svg" alt="img" />
              <span><img src="assets/img/icons/closes.svg" alt="img" /></span>
            </a>
          </div>
          <div class="search-input">
            <a class="btn btn-searchset"
              ><img src="assets/img/icons/search-white.svg" alt="img"
            /></a>
          </div>
        </div>
        <div class="wordset">
          <ul>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"
                ><img src="assets/img/icons/pdf.svg" alt="img"
              /></a>
            </li>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"
                ><img src="assets/img/icons/excel.svg" alt="img"
              /></a>
            </li>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"
                ><img src="assets/img/icons/printer.svg" alt="img"
              /></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /Filter -->
      <div class="card" id="filter_inputs">
        <div class="card-body pb-0">
          <div class="row">
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" placeholder="Enter Customer Code" />
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" placeholder="Enter Customer Name" />
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" placeholder="Enter Phone Number" />
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" placeholder="Enter Email" />
              </div>
            </div>
            <div class="col-lg-1 col-sm-6 col-12 ms-auto">
              <div class="form-group">
                <a class="btn btn-filters ms-auto"
                  ><img src="assets/img/icons/search-whites.svg" alt="img"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Filter -->
      <div class="table-responsive">
        <table class="table datanew">
          <thead>
            <tr>
              <th>
                <label class="checkboxs">
                  <input type="checkbox" id="select-all" />
                  <span class="checkmarks"></span>
                </label>
              </th>
              <th>Customer Name</th>
              <th>code</th>
              <th>Customer</th>
              <th>Phone</th>
              <th>email</th>
              <th>Country</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td class="productimgname">
                <a href="javascript:void(0);" class="product-img">
                  <img src="assets/img/customer/customer1.jpg" alt="product" />
                </a>
                <a href="javascript:void(0);">Thomas</a>
              </td>
              <td>201</td>
              <td>Thomas</td>
              <td>+12163547758</td>
              <td>thomas@example.com</td>
              <td>USA</td>
              <td>
                <a class="me-3" href="edit-customer">
                  <img src="assets/img/icons/edit.svg" alt="img" />
                </a>
                <a class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="assets/img/icons/delete.svg" alt="img" />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td class="productimgname">
                <a href="javascript:void(0);" class="product-img">
                  <img src="assets/img/customer/customer2.jpg" alt="product" />
                </a>
                <a href="javascript:void(0);">Benjamin</a>
              </td>
              <td>202</td>
              <td>Benjamin</td>
              <td>123-456-888</td>
              <td>customer@example.com</td>
              <td>USA</td>
              <td>
                <a class="me-3" href="edit-customer">
                  <img src="assets/img/icons/edit.svg" alt="img" />
                </a>
                <a class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="assets/img/icons/delete.svg" alt="img" />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td class="productimgname">
                <a href="javascript:void(0);" class="product-img">
                  <img src="assets/img/customer/customer3.jpg" alt="product" />
                </a>
                <a href="javascript:void(0);">James</a>
              </td>
              <td>521</td>
              <td>James</td>
              <td>123-456-888</td>
              <td>customer@example.com</td>
              <td>USA</td>
              <td>
                <a class="me-3" href="edit-customer">
                  <img src="assets/img/icons/edit.svg" alt="img" />
                </a>
                <a class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="assets/img/icons/delete.svg" alt="img" />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td class="productimgname">
                <a href="javascript:void(0);" class="product-img">
                  <img src="assets/img/customer/customer3.jpg" alt="product" />
                </a>
                <a href="javascript:void(0);">Bruklin</a>
              </td>
              <td>555</td>
              <td>Bruklin</td>
              <td>123-456-888</td>
              <td>bruklin@example.com</td>
              <td>Thailand</td>
              <td>
                <a class="me-3" href="edit-customer">
                  <img src="assets/img/icons/edit.svg" alt="img" />
                </a>
                <a class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="assets/img/icons/delete.svg" alt="img" />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td class="productimgname">
                <a href="javascript:void(0);" class="product-img">
                  <img src="assets/img/customer/customer4.jpg" alt="product" />
                </a>
                <a href="javascript:void(0);">Beverly</a>
              </td>
              <td>325</td>
              <td>Beverly</td>
              <td>+12163547758</td>
              <td>Beverly@example.com</td>
              <td>Phuket island</td>
              <td>
                <a class="me-3" href="edit-customer">
                  <img src="assets/img/icons/edit.svg" alt="img" />
                </a>
                <a class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="assets/img/icons/delete.svg" alt="img" />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td class="productimgname">
                <a href="javascript:void(0);" class="product-img">
                  <img src="assets/img/customer/customer5.jpg" alt="product" />
                </a>
                <a href="javascript:void(0);">B. Huber</a>
              </td>
              <td>589</td>
              <td>B. Huber</td>
              <td>123-456-888</td>
              <td>Huber@example.com</td>
              <td>Germany</td>
              <td>
                <a class="me-3" href="edit-customer">
                  <img src="assets/img/icons/edit.svg" alt="img" />
                </a>
                <a class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="assets/img/icons/delete.svg" alt="img" />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td class="productimgname">
                <a href="javascript:void(0);" class="product-img">
                  <img src="assets/img/customer/customer6.jpg" alt="product" />
                </a>
                <a href="javascript:void(0);">James Stawberry</a>
              </td>
              <td>254</td>
              <td>James Stawberry</td>
              <td>+12163547758</td>
              <td>customer@example.com</td>
              <td>Angola</td>
              <td>
                <a class="me-3" href="edit-customer">
                  <img src="assets/img/icons/edit.svg" alt="img" />
                </a>
                <a class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="assets/img/icons/delete.svg" alt="img" />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td class="productimgname">
                <a href="javascript:void(0);" class="product-imgs"> WC </a>
                <a href="javascript:void(0);">James Stawberry</a>
              </td>
              <td>681</td>
              <td>Fred john</td>
              <td>123-456-888</td>
              <td>john@example.com</td>
              <td>Albania</td>

              <td>
                <a class="me-3" href="edit-customer">
                  <img src="assets/img/icons/edit.svg" alt="img" />
                </a>
                <a class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="assets/img/icons/delete.svg" alt="img" />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td class="productimgname">
                <a href="javascript:void(0);" class="product-img">
                  <img src="assets/img/customer/customer5.jpg" alt="product" />
                </a>
                <a href="javascript:void(0);">B. Huber</a>
              </td>
              <td>589</td>
              <td>B. Huber</td>
              <td>123-456-888</td>
              <td>Huber@example.com</td>
              <td>Germany</td>
              <td>
                <a class="me-3" href="edit-customer">
                  <img src="assets/img/icons/edit.svg" alt="img" />
                </a>
                <a class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="assets/img/icons/delete.svg" alt="img" />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td class="productimgname">
                <a href="javascript:void(0);" class="product-img">
                  <img src="assets/img/customer/customer6.jpg" alt="product" />
                </a>
                <a href="javascript:void(0);">James Stawberry</a>
              </td>
              <td>254</td>
              <td>James Stawberry</td>
              <td>+12163547758</td>
              <td>customer@example.com</td>
              <td>Angola</td>
              <td>
                <a class="me-3" href="edit-customer">
                  <img src="assets/img/icons/edit.svg" alt="img" />
                </a>
                <a class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="assets/img/icons/delete.svg" alt="img" />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td class="productimgname">
                <a href="javascript:void(0);" class="product-imgs"> WC </a>
                <a href="javascript:void(0);">James Stawberry</a>
              </td>
              <td>681</td>
              <td>Fred john</td>
              <td>123-456-888</td>
              <td>john@example.com</td>
              <td>Albania</td>

              <td>
                <a class="me-3" href="edit-customer">
                  <img src="assets/img/icons/edit.svg" alt="img" />
                </a>
                <a class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="assets/img/icons/delete.svg" alt="img" />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td class="productimgname">
                <a href="javascript:void(0);" class="product-img">
                  <img src="assets/img/customer/customer5.jpg" alt="product" />
                </a>
                <a href="javascript:void(0);">B. Huber</a>
              </td>
              <td>589</td>
              <td>B. Huber</td>
              <td>123-456-888</td>
              <td>Huber@example.com</td>
              <td>Germany</td>
              <td>
                <a class="me-3" href="edit-customer">
                  <img src="assets/img/icons/edit.svg" alt="img" />
                </a>
                <a class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="assets/img/icons/delete.svg" alt="img" />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td class="productimgname">
                <a href="javascript:void(0);" class="product-img">
                  <img src="assets/img/customer/customer6.jpg" alt="product" />
                </a>
                <a href="javascript:void(0);">James Stawberry</a>
              </td>
              <td>254</td>
              <td>James Stawberry</td>
              <td>+12163547758</td>
              <td>customer@example.com</td>
              <td>Angola</td>
              <td>
                <a class="me-3" href="edit-customer">
                  <img src="assets/img/icons/edit.svg" alt="img" />
                </a>
                <a class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="assets/img/icons/delete.svg" alt="img" />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td class="productimgname">
                <a href="javascript:void(0);" class="product-imgs"> WC </a>
                <a href="javascript:void(0);">James Stawberry</a>
              </td>
              <td>681</td>
              <td>Fred john</td>
              <td>123-456-888</td>
              <td>john@example.com</td>
              <td>Albania</td>

              <td>
                <a class="me-3" href="edit-customer">
                  <img src="assets/img/icons/edit.svg" alt="img" />
                </a>
                <a class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="assets/img/icons/delete.svg" alt="img" />
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /product list -->
</div>

<!-- /Main Wrapper -->

<!-- show payment Modal -->
<div
  class="modal fade"
  id="showpayment"
  tabindex="-1"
  aria-labelledby="showpayment"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Show Payments</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Reference</th>
                <th>Amount</th>
                <th>Paid By</th>
                <th>Paid By</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bor-b1">
                <td>2022-03-07</td>
                <td>INV/SL0101</td>
                <td>$ 1500.00</td>
                <td>Cash</td>
                <td>
                  <a class="me-2" href="javascript:void(0);">
                    <img src="assets/img/icons/printer.svg" alt="img" />
                  </a>
                  <a
                    class="me-2"
                    href="javascript:void(0);"
                    data-bs-target="#editpayment"
                    data-bs-toggle="modal"
                    data-bs-dismiss="modal"
                  >
                    <img src="assets/img/icons/edit.svg" alt="img" />
                  </a>
                  <a class="me-2 confirm-text" href="javascript:void(0);">
                    <img src="assets/img/icons/delete.svg" alt="img" />
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- show payment Modal -->

<!-- show payment Modal -->
<div
  class="modal fade"
  id="createpayment"
  tabindex="-1"
  aria-labelledby="createpayment"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Payment</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-12">
            <div class="form-group">
              <label>Customer</label>
              <div class="input-group">
                <input type="text" value="2022-03-07" class="datetimepicker" />
                <a class="scanner-set input-group-text">
                  <img src="assets/img/icons/datepicker.svg" alt="img" />
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 col-12">
            <div class="form-group">
              <label>Reference</label>
              <input type="text" value="INV/SL0101" />
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 col-12">
            <div class="form-group">
              <label>Received Amount</label>
              <input type="text" value="1500.00" />
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 col-12">
            <div class="form-group">
              <label>Paying Amount</label>
              <input type="text" value="1500.00" />
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 col-12">
            <div class="form-group">
              <label>Payment type</label>
              <select class="select">
                <option>Cash</option>
                <option>Online</option>
                <option>Inprogress</option>
              </select>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label>Note</label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-submit">Submit</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- show payment Modal -->

<!-- edit payment Modal -->
<div
  class="modal fade"
  id="editpayment"
  tabindex="-1"
  aria-labelledby="editpayment"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Payment</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-12">
            <div class="form-group">
              <label>Customer</label>
              <div class="input-group">
                <input type="text" value="2022-03-07" class="datetimepicker" />
                <a class="scanner-set input-group-text">
                  <img src="assets/img/icons/datepicker.svg" alt="img" />
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 col-12">
            <div class="form-group">
              <label>Reference</label>
              <input type="text" value="INV/SL0101" />
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 col-12">
            <div class="form-group">
              <label>Received Amount</label>
              <input type="text" value="1500.00" />
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 col-12">
            <div class="form-group">
              <label>Paying Amount</label>
              <input type="text" value="1500.00" />
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 col-12">
            <div class="form-group">
              <label>Payment type</label>
              <select class="select">
                <option>Cash</option>
                <option>Online</option>
                <option>Inprogress</option>
              </select>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label>Note</label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-submit">Submit</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- edit payment Modal -->
